doctype html
html(lang='en')
    head
        title Flash cards
    body
        include includes/header.pug
        if name
            h2 Welcome, #{name}!
            form(action="/remove", method="post")
                button(type="submit") Bye
        block content
        include includes/footer.pug